body {
  background-color: darkgrey;
}

button {
  color: white;
}

.pop {
  margin: 0;
  font-size: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  color: white;
  background: linear-gradient(to left, gray, white);
  box-shadow: 5px 5px 5px black;
  padding-bottom: 5px;
}
